<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <img src="C:\Users\maust\Pictures\Effigy.png" alt="Effigy" style="width:600px;height:500px;">
	
  </body>
  <form>
 <span>Please Select A Map:</span>
 <select v-model = "selected">
 <option v-bind:value="{ Please select a map }">Please select a map</option>
 <option v-bind:value="{ Potts House }">Potts House</option>
 <option v-bind:value="{ River Road }">River Road</option>
 <option v-bind:value="{ Farm Lane }">Farm Lane</option>
 </select>
 <!--Working on getting my evidences inputted here. There has got to be a cleaner way to do this-->
  <input type="checkbox" id="Evidence1" v-model="checked">
 <label for="Evidence1">Appears</label>
 <input type="checkbox" id="Evidence2" v-model="checked">
 <label for="Evidence2">Bath Filled With Blood</label>
 <input type="checkbox" id="Evidence3" v-model="checked">
 <label for="Evidence3">Blood Pools</label>
 <input type="checkbox" id="Evidence4" v-model="checked">
 <label for="Evidence4">Blood Writing</label>
 <input type="checkbox" id="Evidence5" v-model="checked">
 <label for="Evidence5">Blows Out Candles</label>
 <input type="checkbox" id="Evidence6" v-model="checked">
  <label for="Evidence6">Bruises the Player (check arm)</label>
 <input type="checkbox" id="Evidence7" v-model="checked">
  <label for="Evidence7">Changes players Flashlight</label>
 <input type="checkbox" id="Evidence8” v-model="checked">
  <label for="Evidence8">Crucifixes Outside</label>
 <input type="checkbox" id="Evidence9" v-model="checked">
  <label for="Evidence9">Crucifixes on Walls</label>
 <input type="checkbox" id="Evidence10" v-model="checked">
  <label for="Evidence10">Duplicate Household Objects</label>
 <input type="checkbox" id="Evidence11" v-model="checked">
  <label for="Evidence11">Disembodied Breathing (Heavy Breathing)</label>
 <input type="checkbox" id="Evidence12" v-model="checked">
  <label for="Evidence12">Disembodied Crying (Not Baby)</label>
 <input type="checkbox" id="Evidence13" v-model="checked">
  <label for="Evidence13">Disables Players Flashlight</label>
 <input type="checkbox" id="Evidence14" v-model="checked">
  <label for="Evidence14">Fill room(s) with Cockroaches</label>
 <input type="checkbox" id="Evidence15" v-model="checked">
  <label for="Evidence15">Fakes a Hunt</label>
 <input type="checkbox" id="Evidence16" v-model="checked">
  <label for="Evidence16">Fill room(s) with flies</label>
 <input type="checkbox" id="Evidence17" v-model="checked">
  <label for="Evidence17">Floating painting down hallways</label> 
<input type="checkbox" id="Evidence18" v-model="checked">

<input type="checkbox" id="Evidence19" v-model="checked">

<input type="checkbox" id="Evidence20" v-model="checked">

<input type="checkbox" id="Evidence21" v-model="checked">

<input type="checkbox" id="Evidence22" v-model="checked">

<input type="checkbox" id="Evidence23" v-model="checked">

<input type="checkbox" id="Evidence24" v-model="checked">

<input type="checkbox" id="Evidence25" v-model="checked">

<input type="checkbox" id="Evidence26" v-model="checked">

<input type="checkbox" id="Evidence27” v-model="checked">

<input type="checkbox" id="Evidence28" v-model="checked">

<input type="checkbox" id="Evidence29" v-model="checked">

<input type="checkbox" id="Evidence30" v-model="checked">

<input type="checkbox" id="Evidence31" v-model="checked">

<input type="checkbox" id="Evidence32" v-model="checked">

<input type="checkbox" id="Evidence33" v-model="checked">

<input type="checkbox" id="Evidence34" v-model="checked">

<input type="checkbox" id="Evidence35" v-model="checked">

<input type="checkbox" id="Evidence36" v-model="checked">

<input type="checkbox" id="Evidence37" v-model="checked">

<input type="checkbox" id="Evidence38" v-model="checked">

<input type="checkbox" id="Evidence39" v-model="checked">

<input type="checkbox" id="Evidence40" v-model="checked">

<input type="checkbox" id="Evidence41" v-model="checked">

<input type="checkbox" id="Evidence42" v-model="checked">

<input type="checkbox" id="Evidence43" v-model="checked">

<input type="checkbox" id="Evidence44" v-model="checked">

<input type="checkbox" id="Evidence45" v-model="checked">

<input type="checkbox" id="Evidence46” v-model="checked">

<input type="checkbox" id="Evidence49" v-model="checked">

<input type="checkbox" id="Evidence50" v-model="checked">

<input type="checkbox" id="Evidence51" v-model="checked">

<input type="checkbox" id="Evidence52" v-model="checked">

<input type="checkbox" id="Evidence53" v-model="checked">

<input type="checkbox" id="Evidence54" v-model="checked">

<input type="checkbox" id="Evidence55" v-model="checked">

<input type="checkbox" id="Evidence56" v-model="checked">

<input type="checkbox" id="Evidence57" v-model="checked">

<input type="checkbox" id="Evidence58" v-model="checked">

<input type="checkbox" id="Evidence59" v-model="checked">

<input type="checkbox" id="Evidence60" v-model="checked">

<input type="checkbox" id="Evidence61" v-model="checked">

<input type="checkbox" id="Evidence62" v-model="checked">

<input type="checkbox" id="Evidence63" v-model="checked">

<input type="checkbox" id="Evidence64" v-model="checked">

<input type="checkbox" id="Evidence65" v-model="checked">

<input type="checkbox" id="Evidence66" v-model="checked">
  </form>
</html>  






